body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #35654d;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border: solid white;
    padding: 4rem 2rem 12rem;
    margin: 5%;
    border-radius: 3rem;
}

#current_money,
#status {
    border: none;
    font-size: 16px;
    color: black;
    background-color: #35654d
}

#current_money,
#bet_amount {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
    -moz-appearance: textfield;
    width: 5rem;
}

button {
    border-radius: 15%;
    padding: .1rem .4rem;
    margin: 5px;
    font-size: 16px;
}

label {
    width: 200px;
    line-height: 16px;
    margin-bottom: 5px;
}

input {
    height: 16px;
}

div {
    margin: .5rem;
    text-align: center;
    vertical-align: middle;
}

#status {
    text-align: center;
    width: 15rem;
}

#dealer_hand,
#player_hand {
    height: 2rem;
    max-width: 10rem;
    font-size: 1.5rem;
}

#dealer_hand:focus,
#player_hand:focus,
#current_money:focus,
#status:focus {
    outline: none;
}

#current_money {
    padding: 1rem 0rem 0rem;
}
